<?php

/**
 * Configuration for database connection
 *
 */

$environment = "dev"; // dev/test/prod
$host       = "127.0.0.1";
$username   = "root";
$password   = "root";
$dbname     = $environment."_cga";
$dsn        = "mysql:host=$host;dbname=$dbname";
$options    = array(
                PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION
              );