.menubar {
    left: 0;
    width: 25%;
    background-color:#33cccc;
    position:fixed;
    height: 50%;
}

.emailsdisplay {
    right:0;
    width: 75%;
    background-color: #faf0e6;
    border-style: solid;
    border-width: 1px;
    position:fixed;
    height: 100%;
}

.menu_form_label {
    color:white;
    font-size:xx-large;
}

.menu_form {
    height:100%;
}

.menu_item{
    -webkit-appearance: none;
    background-color:#33cccc;  
    width: 100%;
    height: 10%;
    position: relative;
    border: none;
    padding: 0;
    background: none;
}

.menu_item:hover {
    background-color: #ffc0cb;
}

.header_labels {
    display:inline-block;
    width: 10%;
    text-align: right;
}
.header_fields {
    width:100%;
}

.content {
    width: 100%;
    height: 100%;
    resize: none;
    box-sizing: border-box;
    white-space: pre;
}

.inboxmessage {
    width: 100%;
}

.inboxmessagebtn {
    width: 100%;
}

.inboxmessagefield {
    float: left;
}

.inboxmessagesender {
    text-align: left;
    width: 30%;
}

.inboxmessagesubject {
    text-align: left;
    width: 50%;
}

.inboxmessagetimestamp {
    text-align: right;
    width: 20%;
}

.messagecontainer {
    width:100%;
    height:100%;
}

.messagesender {
    background-color: #fae1c8;
    text-align: left;
}

.messagesubject {
    background-color: #faf0e6; 
    text-align: left;
}

.messagetimestamp {
    background-color: #fae1c8;
    text-align: left;
}

.messagecontent {
    height:100%;
    background-color: #faf0e6;
    border-style: solid;
    border-width: 1px;
}
