.ctb {border-collapse:collapse;border-spacing:0; margin:10px right}
.ctb td{border-color:black;border-style:solid;border-width:1px;font-family:"Times New Roman", "Comic Sans";font-size:16px; overflow:hidden;padding:10px 5px;word-break:normal;}
.ctb th{border-color:black;border-style:solid;border-width:1px;font-family:"Times New Roman", "Comic Sans";font-size:16px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.ctb .tgPurp{background-color:#78d2e6;border-color:inherit;text-align:left;vertical-align:top}
.ctb .tgNorm{background-color:#fafaf0;text-align:left;vertical-align:top}
.ctb .tgAct{background-color:#fafaf0;border-color:inherit;text-align:center;vertical-align:center}
.ctb .tgInvis{border-style:none}